/database-uploader/node_modules
/database-uploader/build/key.json
/database-uploader/src/key.json
/database-uploader/key.json
/external-adapter-entry/node_modules
/external-adapter-entry/cachedResponses
/external-adapter-entry/build/key.json
/external-adapter-entry/src/key.json
/external-adapter-entry/key.json
/faas-sandbox/node_modules
/generateKeys/node_modules
/generateKeys/publicKey.txt
/generateKeys/privateKey.txt
.env
